/* Info 
Modulo by Shaydelity
Github: https://github.com/Shaydelity
Contact: shaydedg@gmail.com
-----------------------------------*/

/* To-do: 
- Brightness: Add inversion option for both light-theme & pdf independently.
*/

/* Ressources: 
- https://oklch.com/
*/

@import 'mobile/mobile';
@import 'mobile/ios';
@import 'mobile/toolbar';

@charset "UTF-8";

/* REDEFINE ALL COLOR VARIABLES */

body {

  /* General */
  --obsidian-logo-small: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%23ffffff90' stroke-width='5%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");
  --obsidian-logo-small-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%2300000090' stroke-width='5%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");  
  --background-primary: oklch(0% 0 0);

  /* Primary Accent
  For the Accent color I use color-mix to convert it to oklch. For darker variations I make independent variables; 
  Sadly, as the accent is in hsl, the darkness variations won't be as accurate */
  --lightest-obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--lightest));
  --lighter-obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--lighter));
  --light-obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--light));
  --obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--accent-l));
  --dark-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--dark));
  --darker-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--darker));
  --darkest-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--darkest));

  --lightest-primary-accent-color: color-mix(in oklch, var(--lightest-obsidian-accent-color) 100%, white 0%);
  --lighter-primary-accent-color: color-mix(in oklch, var(--lighter-obsidian-accent-color) 100%, white 0%);
  --light-primary-accent-color: color-mix(in oklch, var(--light-obsidian-accent-color) 100%, white 0%);
  --primary-accent-color: color-mix(in oklch, var(--obsidian-accent-color) 100%, white 0%);
  --dark-primary-accent-color: color-mix(in oklch, var(--dark-obsidian-accent-color) 100%, white 0%);
  --darker-primary-accent-color: color-mix(in oklch, var(--darker-obsidian-accent-color) 100%, white 0%);
  --darkest-primary-accent-color: color-mix(in oklch, var(--darkest-obsidian-accent-color) 100%, white 0%);

  /* Secondary Accent: oklch(57.12% 0.2219 20.09) aka. Crimson (rgb(220,20,60)) */
  --secondary-accent-lightness: 57.12%;
  --secondary-accent-chroma: 0.2219;
  --secondary-accent-hue: 20.09;
  --secondary-accent-color: oklch(var(--secondary-accent-lightness) var(--secondary-accent-chroma) var(--secondary-accent-hue));

  /* Brightness Levels (l) */
  --white: 100%;
  --lightest: 80%;
  --lighter: 70%;
  --light: 60%;
  --base: 50%;
  --dark: 40%;
  --darker: 30%;
  --darkest: 20%;
  --black: 0%;
  /* Or I could go with: base-10, base-20, base-30, base-40, base-50, etc. */

  /* Alpha Levels (a) */ /*"--true" & "--false" made by Zohiu*/
  --opaque: 1; --true: 1; /*WIP: Keep the true & false or nah? */
  --strongest: 0.9;
  --stronger: 0.8;
  --strong: 0.7;
  --faint: 0.6;
  --fainter: 0.5;
  --faintest: 0.4;
  --translucent: 0.2;
  --transparent: 0; --false: 0;

  /* Indigo for testing */

  --indigo-chroma: 0.1793;
  --indigo-hue: 301.68;

  /* Link Colors */

  --link-unresolved-color: var(--secondary-accent-color);
  --link-unresolved-decoration-color: var(--link-unresolved-color);
  --link-unresolved-opacity: var(--faint);

  /* Callouts */
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 1);
  --callout-title-color: var(--callout-color);
  --callout-opacity: var(--opaque);
  --callout-border-opacity: var(--opaque);
  --callout-title-size: 1em;
  --callout-blend-mode: normal;
  --callout-border-width: 2px;
  --callout-quote-gradient: linear-gradient(to right, rgba(var(--hr-color),0.4), rgba(var(--hr-color),0.3), rgba(var(--hr-color),0.2)) 1;
}

/* Obsidian internal color set:
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
*/

svg.svg-icon {
  --icon-size: 1.05em;
}

/* INDENTATION 
I indent ALL elements but Callouts and similar to 1st make the headings clearer and 2nd make the padding in H4 seem natural and fitting.
*/

body .markdown-preview-view {
  --list-indent: 1em;
}

p, li, ul, h5, h6 { /*WIP: Better padding variable*/
  margin-left: var(--h4-vertical-padding);
}

ul.contains-task-list { /*WIP: Better padding variable*/
  margin-left: var(--h4-vertical-padding);
}

ul.contains-task-list>li.task-list-item { margin-left: 1.2em; }

div.callout .callout-content p { margin-left: 0rem; }

.markdown-rendered ul > li { margin-inline-start: 1rem; }


/* CALLOUT STYLING 
All done by me.
Outlined Style inspired by Minimal Theme by @kepano
GitHub: https://github.com/kepano/obsidian-minimal
Link: https://twitter.com/kepano
------------------------------*/

/* THE MOST IMPORTANT CALLOUT CHANGE: */
div.callout { --callout-color: var(--base) var(--callout-chroma) var(--callout-hue); }


div.callout {
  --callout-title-color: oklch(var(--callout-color) / var(--callout-opacity)); /*WIP: Figure out why you can not define it in body.*/
  overflow: visible;
  /*background: linear-gradient(to right, rgba(var(--callout-color), 0.02), rgba(var(--callout-color), 0));*/
  background-color: oklch(var(--callout-color) / var(--transparent));
  border-color: oklch(var(--callout-color) / var(--callout-border-opacity));
  margin-top: 1.7em;
  padding-left: 1.4rem;
  margin-bottom: 1.5em;
}

div.callout>.callout-title {
  z-index: 200;
  width: fit-content;
  font-variant-caps: normal;
  font-size: var(--callout-title-size);
  letter-spacing: 0.07em;
  color: var(--callout-title-color);
  background-color: oklch(0% 0 0 / 1); /*WIP*/
  margin-top: -24px;
  margin-left: -0.75em;
  padding: 0 0.7em;
  border-radius: 0.5em;
}

div.callout>.callout-title>.callout-icon {
  margin-right: 0.4em;
  margin-top: -0.05em;
}

div.callout>.callout-title>.callout-icon .svg-icon { color: var(--callout-title-color); --icon-stroke: 3px; }

/* INNER CALLOUT ELEMENTS */

.markdown-source-view .cm-em, .markdown-rendered em,
.markdown-source-view .cm-strong, .markdown-rendered strong/*,
.markdown-source-view .cm-u, .markdown-rendered u */{ color: oklch(var(--callout-color) / var(--opaque)); }

div.callout a.footnote-link { color: oklch(var(--callout-color) / var(--faint)); }

.markdown-source-view .cm-em, .markdown-rendered em,
.markdown-source-view .cm-strong, .markdown-rendered strong,
/*.markdown-source-view .cm-u, .markdown-rendered u,*/
div.callout a.internal-link { color: oklch(var(--callout-color) / var(--callout-opacity)); }/*
div.callout a.internal-link.is-unresolved { color: rgba(var(--callout-color), 0.9); }*/

div.callout > .callout-title > .callout-title-inner :is(
  ol, ul, .markdown-rendered ol, .markdown-rendered ul.has-list-bullet) {
  margin: 0;
}

div.callout > .callout-title > .callout-title-inner :is(
  ol, ul, .markdown-rendered ol, .markdown-rendered ul.has-list-bullet) > li {
  margin-left: 1.5em;
  margin-top: -0.1em;
}

/* SPECIAL CALLOUTS */

/* Primary Accent 
This one needs to utilize HSL as that is how the primary color is usually set in Obsidian. 
Thus I redid every aspects regarding color for these ones. */
div.callout[data-callout*="primary-accent"], div.callout[data-callout*="note"], div.callout[data-callout*="callout"] { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), var(--callout-opacity)); 
  --callout-title-color: var(--callout-color); 
  border-color: var(--callout-color); 
}
/* As it utilizes HSL I needed to redo this: */
div.callout[data-callout^="l"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--light), var(--callout-opacity)); } 
div.callout[data-callout^="ll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--lighter), var(--callout-opacity)); } 
div.callout[data-callout^="lll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--lightest), var(--callout-opacity)); }

div.callout[data-callout^="d"]:is(
[data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--dark), var(--callout-opacity)); } 
div.callout[data-callout^="dd"]:is(
[data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--darker), var(--callout-opacity)); } 
div.callout[data-callout^="ddd"]:is(
[data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) {
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--darkest), var(--callout-opacity)); }

/*
div.callout[data-callout*="primary-accent"] .markdown-source-view .cm-em, div.callout[data-callout*="primary-accent"] .markdown-rendered em,
div.callout[data-callout*="primary-accent"] .markdown-source-view .cm-strong, div.callout[data-callout*="primary-accent"] .markdown-rendered strong { color: oklch(var(--callout-color) / var(--opaque)); }
*/

div.callout:is([data-callout*="primary-accent"], [data-callout*="note"]) :is(.markdown-source-view .cm-em, 
.markdown-rendered em, .markdown-source-view .cm-strong, .markdown-rendered strong) {
    color: var(--callout-color);
}

div.callout:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
a.footnote-link { color: var(--callout-color); }

div.callout:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) :is(.markdown-source-view .cm-em, .markdown-rendered em,
.markdown-source-view .cm-strong, .markdown-rendered strong, a.internal-link) { 
  color: var(--callout-color); }

/* div.callout a.internal-link.is-unresolved { color: rgba(var(--callout-color), 0.9); } WIP: Remove or keep?*/

/* Secondary Accent */
div.callout[data-callout*="secondary-accent"] {
  --callout-chroma: var(--secondary-accent-chroma);
  --callout-hue: var(--secondary-accent-hue);
}

/* Quote & Cite */

div.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1.5em;
  border-image: var(--callout-quote-gradient);
  padding-top: 0.5em;
  --callout-chroma: 0;
  --callout-hue: 0;
  --callout-icon: quote-glyph;
  margin-bottom: 2em;
}

div.callout[data-callout="quote"]>.callout-title,
.callout[data-callout="cite"]>.callout-title {
  margin-bottom: -2.3em;
  margin-top: 0em;
}

div.callout[data-callout="cite"] {
  border-image: var(--hr-gradient);
  border-left: none;
  border-right: none;
  border-radius: 0px;
  background-color: var(--background-primary);
}

div.callout:is([data-callout*="quote"], [data-callout*="cite"])>.callout-title>.callout-icon {
  transform: scale(-1, 1);
}

div.callout[data-callout="cite"]>.callout-title>.callout-icon {
  --icon-color: oklch(var(--callout-color));
}


/* MODULAR CALLOUT COLORS */
div.callout[data-callout^="l"] { --callout-color: var(--light) var(--callout-chroma) var(--callout-hue); }
div.callout[data-callout^="ll"] { --callout-color: var(--lighter) var(--callout-chroma) var(--callout-hue); }
div.callout[data-callout^="lll"] { --callout-color: var(--lightest) var(--callout-chroma) var(--callout-hue); }

div.callout[data-callout^="d"] { --callout-color: var(--dark) var(--callout-chroma) var(--callout-hue); }
div.callout[data-callout^="dd"] { --callout-color: var(--darker) var(--callout-chroma) var(--callout-hue); }
div.callout[data-callout^="ddd"] { --callout-color: var(--darkest) var(--callout-chroma) var(--callout-hue); }

div.callout[data-callout-metadata^="opaque"] { --callout-opacity: var(--opaque); --callout-border-opacity: var(--callout-opacity)}

div.callout[data-callout-metadata^="s"] { --callout-opacity: var(--strong); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="ss"] { --callout-opacity: var(--stronger); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="sss"] { --callout-opacity: var(--strongest); --callout-border-opacity: var(--callout-opacity)}

div.callout[data-callout-metadata^="f"] { --callout-opacity: var(--faint); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="ff"] { --callout-opacity: var(--fainter); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="fff"] { --callout-opacity: var(--faintest); --callout-border-opacity: var(--callout-opacity)}

div.callout[data-callout-metadata^="translucent"] { --callout-opacity: var(--translucent); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="ffffuck you"] { --callout-opacity: var(--transparent); --callout-border-opacity: var(--callout-opacity)} /*This line made by Zohiu*/ /*WIP: Wanna keep it?*/

/* Indigo for test */
div.callout[data-callout*="indigo"] {
  --callout-chroma: var(--indigo-chroma);
  --callout-hue: var(--indigo-hue);
}