/* Info 
Modulo by Shaydelity
Github: https://github.com/Shaydelity
Contact: shaydedg@gmail.com
-----------------------------------*/

/* To-do: 
- Brightness: dark levels vs. base-number levels
*/

/* Ressources: https://oklch.com/
*/

@import 'mobile/mobile';
@import 'mobile/ios';
@import 'mobile/toolbar';

@charset "UTF-8";

/* REDEFINE ALL COLOR VARIABLES */

body {

  /* General */
  --obsidian-logo-small: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%23ffffff90' stroke-width='5%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");
  --obsidian-logo-small-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%2300000090' stroke-width='5%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");  
  --background-primary: oklch(0% 0 0);

  /* Primary Accent
  For the Accent color I use color-mix to convert it to oklch. For darker variations I make independent variables */
  --obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--accent-l));
  --dark-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),0.8);

  --primary-accent-color: color-mix(in oklch, var(--obsidian-accent-color) 100%, white 0%);
  --dark-primary-accent-color: color-mix(in oklch, var(--dark-obsidian-accent-color) 100%, white 0%);
  color: var(--primary-accent-color);

  /* Secondary Accent: oklch(57.12% 0.2219 20.09) aka. Crimson (rgb(220,20,60)) */
  --secondary-accent-l: 57.12%;
  --secondary-accent-c: 0.2219;
  --secondary-accent-h: 20.09;
  --secondary-accent-color: oklch(var(--secondary-accent-l) var(--secondary-accent-c) var(--secondary-accent-h));

  /* Brightness Levels (l) */
  --white: 100%;
  --lightest: 80%;
  --lighter: 70%;
  --light: 60%;
  --base: 50%;
  --dark: 40%;
  --darker: 30%;
  --darkest: 20%;
  --black: 0%;
  /* Or I could go with: base-10, base-20, base-30, base-40, base-50, etc. */

  /* Alpha Levels (a) */
  --opaque: 1;
  --faint: 0.8;
  --fainter: 0.6;
  --faintest: 0.4;
  --translucent: 0.2;
  --transparent: 0;

  /* Indigo for testing */

  --indigo-chroma: 0.1793;
  --indigo-hue: 301.68;

  /* Link Colors */

  --link-unresolved-color: var(--secondary-accent-color);
  --link-unresolved-decoration-color: var(--link-unresolved-color);
  --link-unresolved-opacity: var(--faint);

  /* Callouts */
  --callout-blend-mode: normal;
  --callout-border-width: 2px;
  --callout-border-opacity: var(--opaque);
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 1);
  --callout-title-color: var(--callout-color);
}

/* Obsidian internal color set:
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
*/


/* CALLOUT STYLING 
All done by me.
Outlined Style inspired by Minimal Theme by @kepano
GitHub: https://github.com/kepano/obsidian-minimal
Link: https://twitter.com/kepano
------------------------------*/

div.callout .callout-content p {
  margin-left: 0rem;
}

div.callout {
  overflow: visible;
  /*background: linear-gradient(to right, rgba(var(--callout-color), 0.02), rgba(var(--callout-color), 0));*/
  background-color: hsla(var(--accent-h),var(--accent-s),var(--accent-l),var(--transparent));
  border-color: oklch(var(--callout-color) / var(--callout-border-opacity));
  margin-top: 1.7em;
  padding-left: 1.4rem;
  margin-bottom: 1.5em;
}

div.callout>.callout-title {
  --callout-title-size: 1em;
  --callout-title-color: var(--callout-color);
  color: oklch(var(--callout-title-color));
  background-color: oklch(0% 0 0 / 1); /*WIP*/
  font-size: var(--callout-title-size);
  margin-top: -24px;
  z-index: 200;
  width: fit-content;
  padding: 0 0.7em;
  margin-left: -0.75em;
  letter-spacing: 0.07em;
  font-variant-caps: all-small-caps;
  font-size: var(--callout-title-size);
  font-variant-caps: normal;
  border-radius: 0.5em;
}

.cm-embed-block.cm-callout {
  padding-top: 12px;
  padding-bottom: 12px;
}

div.callout>.callout-title>.callout-icon {
  margin-right: 0.4em;
  margin-top: -0.05em;
}

div.callout>.callout-title>.callout-icon .svg-icon {
  color: oklch(var(--callout-title-color));
}

div.callout[data-callout*="indigo"] {
  --callout-chroma: var(--indigo-chroma);
  --callout-hue: var(--indigo-hue);
}

div.callout {
  --callout-color: var(--base) var(--callout-chroma) var(--callout-hue);
}

div.callout[data-callout^="l"] {
  --callout-color: var(--light) var(--callout-chroma) var(--callout-hue);
}

div.callout[data-callout^="ll"] {
  --callout-color: var(--lighter) var(--callout-chroma) var(--callout-hue);
}

div.callout[data-callout^="lll"] {
  --callout-color: var(--lightest) var(--callout-chroma) var(--callout-hue);
}

div.callout[data-callout^="d"] {
  --callout-color: var(--dark) var(--callout-chroma) var(--callout-hue);
}

div.callout[data-callout^="dd"] {
  --callout-color: var(--darker) var(--callout-chroma) var(--callout-hue);
}

div.callout[data-callout^="ddd"] {
  --callout-color: var(--darkest) var(--callout-chroma) var(--callout-hue);
}