/* Info 
Modulo by Shaydelity
Github: https://github.com/Shaydelity
Contact: shaydedg@gmail.com
-----------------------------------*/

/* To-do: 
- Put the color chromas and hues into color named variables.
- Brightness: Add inversion option for both light-theme & pdf independently.
- Brightness: Make an option to decrease lightness for text as well (callout-metadata)
- Opacity: Make text have lower opacity as well!
- Heading styles & PDF export!
- Unless used, remove the oklch primary accents.
*/

/* Ressources: 
- https://oklch.com/
*/

@charset "UTF-8";

@import 'mobile/mobile';
@import 'mobile/ios';
@import 'mobile/toolbar';

body {
  /* General */
  --obsidian-logo-small: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%23ffffff90' stroke-width='5%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");
  --obsidian-logo-small-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%2300000090' stroke-width='5%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");  
  --background-primary: oklch(0% 0 0);

  /* Primary Accent
  For the Accent color I use color-mix to convert it to oklch. For darker variations I make independent variables; 
  Sadly, as the accent is in hsl, the darkness variations won't be as accurate */
  --lightest-obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--lightest));
  --lighter-obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--lighter));
  --light-obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--light));
  --obsidian-accent-color: hsl(var(--accent-h),var(--accent-s),var(--accent-l));
  --dark-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--dark));
  --darker-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--darker));
  --darkest-obsidian-accent-color: hsla(var(--accent-h),var(--accent-s),var(--darkest));

  --lightest-primary-accent-color: color-mix(in oklch, var(--lightest-obsidian-accent-color) 100%, white 0%);
  --lighter-primary-accent-color: color-mix(in oklch, var(--lighter-obsidian-accent-color) 100%, white 0%);
  --light-primary-accent-color: color-mix(in oklch, var(--light-obsidian-accent-color) 100%, white 0%);
  --primary-accent-color: color-mix(in oklch, var(--obsidian-accent-color) 100%, white 0%);
  --dark-primary-accent-color: color-mix(in oklch, var(--dark-obsidian-accent-color) 100%, white 0%);
  --darker-primary-accent-color: color-mix(in oklch, var(--darker-obsidian-accent-color) 100%, white 0%);
  --darkest-primary-accent-color: color-mix(in oklch, var(--darkest-obsidian-accent-color) 100%, white 0%);

  /* Secondary Accent: oklch(57.12% 0.2219 20.09) aka. Crimson (rgb(220,20,60)) */
  --secondary-accent-lightness: 57.12%;
  --secondary-accent-chroma: 0.2219;
  --secondary-accent-hue: 20.09;
  --secondary-accent-color: oklch(var(--secondary-accent-lightness) var(--secondary-accent-chroma) var(--secondary-accent-hue));

  /* Lightness Levels (l) */
  --white: 100%;
  --lightest: 90%;
  --super-light: 80%;
  --lighter: 70%;
  --light: 60%;
  --base: 50%;
  --dark: 40%;
  --darker: 30%;
  --super-dark: 20%;
  --darkest: 10%;
  --black: 0%;
  /* Or I could go with: base-10, base-20, base-30, base-40, base-50, etc. */

  /* Alpha Levels (a) */ /* "--true" & "--false" made by Zohiu */
  --opaque: 1; --true: 1; /*WIP: Keep the true & false or nah? */
  --strongest: 0.9;
  --stronger: 0.8;
  --strong: 0.7;
  --faint: 0.6;
  --fainter: 0.5;
  --faintest: 0.4;
  --translucent: 0.2;
  --transparent: 0; --false: 0;

  /* Link Colors */
  --link-unresolved-color: var(--secondary-accent-color);
  --link-unresolved-decoration-color: var(--link-unresolved-color);
  --link-unresolved-opacity: var(--faint);

  /* Callouts */
  --callout-hue: 0;
  --callout-chroma: 0;
  --callout-lightness: var(--base);
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  --callout-title-color: var(--callout-color);
  --callout-opacity: var(--opaque);
  --callout-border-opacity: var(--opaque);
  --callout-title-size: 1em;
  --callout-blend-mode: normal;
  --callout-border-width: 2px;
  --callout-quote-lightness: var(--lightest);


  --text-normal-lightness: var(--white);
  --text-normal-chroma: 0;
  --text-normal-hue: 0;

  --bold-color: oklch(var(--text-normal-lightness) var(var(--text-normal-chroma)) var(var(--text-normal-hue)));

  --font-text: "Ubuntu", "Play", "Inter";
  --h1-font: "Onest", "Rowdies", "Nexa", "Inter";
  --h2-font: "Onest", "Rowdies", "Nexa", "Inter";
  --h3-font: "Onest", "Rowdies", "Nexa", "Inter";
  --h4-font: "Onest", "Rowdies", "Nexa", "Inter";
  --h5-font: "Onest", "Rowdies", "Nexa", "Inter";
  --h6-font: "Onest", "Rowdies", "Nexa", "Inter";

  --tab-radius: 0.5em;
  --big-heading-letter-spacing: 0.07em;
  --medium-heading-letter-spacing: 0.06em;
  --small-heading-letter-spacing: 0.04em;
  --pdf-text-size: 12pt;

  --h4-vertical-padding: 0.4rem; /* Better padding variable */
}

/* WIP: Obsidian internal color set:
  --color-red-rgb: 251, 70, 76;
  --color-red: #fb464c;
  --color-orange-rgb: 233, 151, 63;
  --color-orange: #e9973f;
  --color-yellow-rgb: 224, 222, 113;
  --color-yellow: #e0de71;
  --color-green-rgb: 68, 207, 110;
  --color-green: #44cf6e;
  --color-cyan-rgb: 83, 223, 221;
  --color-cyan: #53dfdd;
  --color-blue-rgb: 2, 122, 255;
  --color-blue: #027aff;
  --color-purple-rgb: 168, 130, 255;
  --color-purple: #a882ff;
  --color-pink-rgb: 250, 153, 205;
  --color-pink: #fa99cd;
*/

@media print {
  body {
    --background-primary: oklch(100% 0 0);
    --white: 0%;
    --lightest: 10%;
    --super-light: 20%;
    --lighter: 30%;
    --light: 40%;
    --base: 50%;
    --dark: 60%;
    --darker: 70%;
    --super-dark: 80%;
    --darkest: 90%;
    --black: 100%;
  }
  html {
    --font-text-size: var(--pdf-text-size) !important;
    font-size: var(--font-text-size) !important;
  } 
  body .markdown-preview-view {
    --font-text-size: var(--pdf-text-size) !important;
    font-size: var(--font-text-size);
  } 
}

svg.svg-icon {
  --icon-size: 1.05em;
}

/* INDENTATION 
I indent ALL elements but Callouts and similar to 1st make the headings clearer and 2nd make the padding in H4 seem natural and fitting.
*/

body p {
  color: oklch(var(--text-normal-lightness) var(--text-normal-chroma) var(--text-normal-hue))
}

body .markdown-preview-view {
  --list-indent: 1em;
}

p, li, ul, h5, h6 { /*WIP: Better padding variable*/
  margin-left: var(--h4-vertical-padding);
}

ul.contains-task-list { /*WIP: Better padding variable*/
  margin-left: var(--h4-vertical-padding);
}

ul.contains-task-list>li.task-list-item { margin-left: 1.2em; }

div.callout .callout-content p { margin-left: 0rem; }

.markdown-rendered ul > li { margin-inline-start: 1rem; }

/* RANDOM FROM OLD THEME */ /* WIP: Put elsewhere and/or revaluate */

p a.footnote-link {
  color: oklch( var(--lightest) var(--text-normal-chroma) var(--text-normal-hue) / 0.9);
}

p a.footnote-link:hover {
  color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 1);
}

sup, sub {
  color: oklch( var(--lightest) var(--text-normal-chroma) var(--text-normal-hue) / 0.9);
}

.markdown-rendered blockquote {
  margin-left: var(--h4-vertical-padding);
}

.mod-root .workspace-tab-container .workspace-leaf-content {
  --en-opacity: 1;
  background-color: var(--background-primary);
  border-radius: var(--tab-radius);
}

/* Hide Excalidraw Welcome */
.welcome-screen-center__logo.virgil.welcome-screen-decor,
.welcome-screen-center__heading.welcome-screen-decor.virgil,
.welcome-screen-menu {
  display: none !important;
}

/* No Status Bar Clutter */
.status-bar-item.plugin-backlink.mod-clickable {
  display: none;
}

.status-bar-item.plugin-properties.mod-clickable {
  display: none;
}

/* Move Status Bar */
.status-bar {
  transform: translateX(0.15em);
}

/* Image always displayed on full width unless specified differently */
.markdown-preview-view img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

/* Calender Title Font-Size */
#calendar-container .title {
  font-size: 1.1em;
}

/* Larger Popover Preview */
.popover.hover-popover>.markdown-embed {
  height: 100%;
  max-height: 60vh;
  max-width: 60vh;
  overflow: scroll;
}


/* Blockquote*/
/* REWORK */
.markdown-rendered blockquote {
  --blockquote-background-color: var(--background-primary);
  --blockquote-border-color: oklch(var(--lightest) 0 0);
  background-color: var(--blockquote-background-color);
  border-inline-start: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  padding-left: 1rem;
  /*
  --blockquote-border-thickness: 2px;
  --blockquote-border-color: var(--interactive-accent);
  --blockquote-font-style: normal;
  --blockquote-color: inherit;
  --blockquote-background-color: transparent;
  /*
  color: var(--blockquote-color);
  font-style: var(--blockquote-font-style);
  background-color: var(--blockquote-background-color);
  border-inline-start: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  padding-top: 0;
  padding-bottom: 0;
  padding-inline-start: var(--size-4-6);
  margin-inline-start: 0;
  margin-inline-end: 0;*/
}
.markdown-rendered blockquote p {
  margin-left: 0em;
}

@media print {
  .markdown-rendered blockquote, blockquote {
    --blockquote-background-color: white;
    --blockquote-border-color: rgba(0,0,0, 1);
    background-color: var(--blockquote-background-color);
    border-inline-start: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
  }
}


/* PLUGIN STYLING - DATAVIEW */ /* REWORK */

.dataview.inline-field-standalone-value {
  padding-left: 0.1em;
  padding-right: 0.1em;
  font-family: var(--font-text);
  background-color: var(--background-primary);
  outline: 2px solid var(--background-primary-alt);
  color: oklch(var(--lightest) 0 0);
}

.dataview.inline-field-key {
  padding-left: 0.1em;
  padding-right: 0.2em;
  font-family: var(--font-monospace);
  background-color: var(--background-primary-alt);
  color: var(--text-nav-selected);
}

.dataview.inline-field-value {
  padding-left: 0.2em;
  padding-right: 0.1em;
  font-family: var(--font-monospace);
  background-color: var(--background-secondary-alt);
  color: var(--text-nav-selected);
}

/* MINIMIZE, FULLSCREEN, EXIT WINDOW ICON REPLACEMENT 
Based on Obsidian Encore Theme by Carbonateb
GitHub: https://github.com/carbonateb/obsidian-encore-theme
Link: https://lucaschampagne.dev/
------------------------------*/

body {
  --lucide-x: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --lucide-minus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --lucide-maximize: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3'%3E%3C/path%3E%3Cpath d='M21 8V5a2 2 0 0 0-2-2h-3'%3E%3C/path%3E%3Cpath d='M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3Cpath d='M16 21h3a2 2 0 0 0 2-2v-3'%3E%3C/path%3E%3C/svg%3E");
  --lucide-minimize: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-minimize'%3E%3Cpath d='M8 3v3a2 2 0 0 1-2 2H3'/%3E%3Cpath d='M21 8h-3a2 2 0 0 1-2-2V3'/%3E%3Cpath d='M3 16h3a2 2 0 0 1 2 2v3'/%3E%3Cpath d='M16 21v-3a2 2 0 0 1 2-2h3'/%3E%3C/svg%3E");
}

:is(.mod-linux, .mod-windows) .titlebar-button:not(.mod-logo) svg {
  -webkit-mask-size: cover;
  background-color: var(--icon-color);
  color: transparent;
  width: var(--icon-s);
  height: var(--icon-s);
}

:is(.mod-linux, .mod-windows) .titlebar-button:not(.mod-logo) {
  padding: 0 var(--size-4-3);
}

:is(.mod-linux, .mod-windows) .titlebar-button.mod-minimize svg {
  -webkit-mask-image: var(--lucide-minus);
}

:is(.mod-linux, .mod-windows) .titlebar-button.mod-maximize svg {
  -webkit-mask-image: var(--lucide-maximize);
}

.is-maximized:is(.mod-linux, .mod-windows) .titlebar-button.mod-maximize svg {
  -webkit-mask-image: var(--lucide-minimize);
}

:is(.mod-linux, .mod-windows) .titlebar-button.mod-close svg {
  -webkit-mask-image: var(--lucide-x);
}

/* WORKSPACE SECTIONS DIVIDER STYLING
Inspired by Obsidian Encore Theme by Carbonateb
GitHub: https://github.com/carbonateb/obsidian-encore-theme
Link: https://lucaschampagne.dev/
------------------------------*/

.workspace-leaf-resize-handle { /* REWORK */
  border: none !important;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary) !important;
  min-width: 1px;
  min-height: 1px;
  --divider-width-hover: 1px;
}

.workspace-leaf-resize-handle::after {
  content: "";
  position: absolute;
  transition: var(--background-primary) 150ms ease-out;
}

.workspace-leaf-resize-handle:hover::after {
  background-color: oklch(90% 0 0) !important;
  min-width: 3px;
  height: 70%;
  width: 70%;
  border-radius: 1em;
}

.workspace-split.mod-vertical.mod-root .workspace-leaf-resize-handle {
  right: -6px;
}

.workspace-split.mod-vertical>.workspace-leaf-resize-handle,
.mod-root .workspace-split.mod-horizontal :not(.mod-vertical) .workspace-leaf-resize-handle {
  bottom: -6px;
}



/* HEADINGS */

h1, /* REWORK */
.HyperMD-header.HyperMD-header-1.cm-line,
.markdown-preview-view h1,
.markdown-rendered h1 {
  --h1-color: rgb(var(--heading-color));
  --h1-size: 3rem;
  text-align: center;
  letter-spacing: var(--big-heading-letter-spacing);
  --h1-weight: 800;
}


h1 a.internal-link.is-unresolved,
.HyperMD-header.HyperMD-header-1 a.internal-link.is-unresolved,
h1 a.internal-link,
.HyperMD-header.HyperMD-header-1 a.internal-link {
  color: rgb(var(--heading-color));
  opacity: 100%;
  filter: none;
}

.cm-header.cm-header-1.cm-hmd-internal-link {
  color: rgb(var(--heading-color));
}

h2,
.HyperMD-header.HyperMD-header-2.cm-line,
.markdown-preview-view h2,
.markdown-rendered h2 {
  color: rgb(var(--heading-color));
  --h2-size: 2.2rem;
  padding: 0;
  border-bottom: 1px solid var(--background-modifier-border);
  width: 100%;
  padding-bottom: 0px;
  border-image: linear-gradient(to right, rgba(90, 90, 90, 0), rgba(125, 125, 125, 1), rgba(90, 90, 90, 0)) 1;
  border-left: none;
  border-right: none;
  border-top: none;
  letter-spacing: var(--medium-heading-letter-spacing);
  --h2-weight: 800;
}


h2 a.internal-link.is-unresolved,
.HyperMD-header.HyperMD-header-2 a.internal-link.is-unresolved,
h2 a.internal-link,
.HyperMD-header.HyperMD-header-2 a.internal-link {
  color: rgb(var(--heading-color));
  opacity: 100%;
  filter: none;
}

.cm-header.cm-header-2.cm-hmd-internal-link {
  color: rgb(var(--heading-color));
}

h3,
.HyperMD-header.HyperMD-header-3.cm-line,
.markdown-preview-view h3,
.markdown-rendered h3 {
  color: rgb(var(--heading-color));
  --h3-size: 2rem;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-top: 25px;
  margin-left: 0em;
  padding-bottom: 0px;
  letter-spacing: var(--medium-heading-letter-spacing);
  --h3-weight: 800;
}


h3 a.internal-link.is-unresolved,
.HyperMD-header.HyperMD-header-3 a.internal-link.is-unresolved,
h3 a.internal-link,
.HyperMD-header.HyperMD-header-3 a.internal-link {
  color: rgb(var(--heading-color));
  opacity: 100%;
  filter: none;
}

.cm-header.cm-header-3.cm-hmd-internal-link {
  color: rgb(var(--heading-color));
}

h4,
.HyperMD-header.HyperMD-header-4.cm-line,
.markdown-preview-view h4,
.markdown-rendered h4 {
  background-color: oklch(var(--lightest) 0 0);
  color: var(--background-primary);
  font-weight: 900;
  padding-top: 0px;
  --h4-size: 1.6rem;
  width: fit-content;
  padding-left: var(--h4-vertical-padding);
  padding-right: var(--h4-vertical-padding);
  border-radius: 0.2rem;
  word-wrap: normal;
  letter-spacing: var(--medium-heading-letter-spacing);
  --h4-weight: 700;
}

h4 a.internal-link.is-unresolved,
.HyperMD-header.HyperMD-header-4 a.internal-link.is-unresolved,
h4 a.internal-link,
.HyperMD-header.HyperMD-header-4 a.internal-link {
  color: rgb(var(--heading-color));
  background-color: rgb(0, 0, 0);
  opacity: 100%;
  filter: none;
}

.cm-header.cm-header-4.cm-hmd-internal-link {
  color: rgb(0, 0, 0);
}

h4.chat-view-header {
  color: rgb(var(--heading-color));
  background-color: rgb(0, 0, 0);
  opacity: 100%;
  filter: none;
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}


@media print {
  h4.chat-view-header {
    color: rgb(0, 0, 0);
    background-color: rgb(237, 237, 237);
    opacity: 100%;
    filter: none;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
  }
}

h5,
.HyperMD-header.HyperMD-header-5.cm-line,
.markdown-preview-view h5,
.markdown-rendered h5 {
  color: rgb(245, 245, 245);
  --h5-size: 1.3rem;
  padding: var(--h4-vertical-padding) 0em;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: var(--small-heading-letter-spacing);
  --h5-weight: 600;
}

h6,
.HyperMD-header.HyperMD-header-6.cm-line,
.markdown-preview-view h6,
.markdown-rendered h6 {
  color: rgb(225, 225, 225);
  --h6-size: 1.05rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: var(--small-heading-letter-spacing);
  --h6-weight: 600;
}

@media print {
  a.footnote-link {
    color: var(--background-primary);
  }

  h2,
  .HyperMD-header.HyperMD-header-2,
  .markdown-preview-view h2 {
    color: rgb(0, 0, 0);
  }

  h4,
  .HyperMD-header.HyperMD-header-4 {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255,255,255) !important;
  }

  h5,
  .HyperMD-header.HyperMD-header-5 {
    color: rgb(0, 0, 0) !important;
  }

  h6,
  .HyperMD-header.HyperMD-header-6 {
    color: rgb(0, 0, 0) !important;
  }

  .pdf-ignore {
    display: none;
  }
}


/* Horizontal Lines with Icon Styling 
Based on Obsidian Encore Theme by Carbonateb
GitHub: https://github.com/carbonateb/obsidian-encore-theme
Link: https://lucaschampagne.dev/
------------------------------*/

hr { /* REWORK */
  margin-top: 2em;
  margin-bottom: 1.7em;
}

body .markdown-rendered hr,
body .cm-line.hr hr {
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.5) 46.2%, transparent 46.2%, transparent 54%, rgba(255,255,255,0.5) 54%, transparent);
  border: none;
  position: relative;
  overflow: visible;
}

@media print {
  body .markdown-rendered hr,
  body .cm-line.hr hr {
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.5) 46.2%, transparent 46.2%, transparent 54%, rgba(0,0,0,0.5) 54%, transparent);
    border: none;
    position: relative;
    overflow: visible;
  }
  body .markdown-source-view:not(.is-live-preview) .HyperMD-hr::after,
  body .markdown-rendered hr::after,
  body .cm-line.hr hr::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--obsidian-logo-small);
  }
}

body .markdown-source-view:not(.is-live-preview) .HyperMD-hr::after,
body .markdown-rendered hr::after,
body .cm-line.hr hr::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--obsidian-logo-small);
}

body .markdown-source-view:not(.is-live-preview) .HyperMD-hr {
  position: relative;
}

body .markdown-source-view:not(.is-live-preview) .HyperMD-hr::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 13px;
  height: 1px;
  background-image: linear-gradient(to right, transparent 10%, var(--hr-color) 46.2%, transparent 46.2%, transparent 54%, var(--hr-color) 54%, transparent);
}
body .markdown-source-view:not(.is-live-preview) .HyperMD-hr::after {
  top: 2px;
}


/* UNORDERED LIST STYLING 
Based on Emacs bulletlist Snippet by Lilian POULIQUEN
Based on: https://forum.obsidian.md/t/style-bullets-in-lists-by-level/46152
Found here: https://www.reddit.com/r/ObsidianMD/comments/urhx0g/comment/kbyy6k7/
With special thanks to:
- wreckable (Reddit: https://www.reddit.com/user/wreckable/) for sharing it on Reddit
- LukeSKY75_ (Reddit: https://www.reddit.com/user/LukeSKY75_/) for making it work in reading mode and improving the CSS 
------------------------------*/

/* LEVEL 1 - Bullet*/
.markdown-reading-view ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-1 .list-bullet:after {
  height: 7px;
  width: 7px;
  border-radius: 50%;
} .markdown-source-view.mod-cm6 .HyperMD-list-line-1 .list-bullet:after {
  margin-right: 1em;
}

/* LEVEL 2 - Hollow Bullet*/
.markdown-reading-view ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-2 .list-bullet:after {
  height: 7px;
  width: 7px;
  background-color: transparent;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
} .markdown-source-view.mod-cm6 .HyperMD-list-line-2 .list-bullet:after {
  margin-right: 1em;
}

/* LEVEL 3 - Solid Square */
.markdown-reading-view ul > li > ul > li > ul > li > .list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-3 .list-bullet:after {
  height: 5px;
  width: 5px;
  border-radius: 0%;
  background-color: rgb(89, 89, 89);
}
.markdown-source-view.mod-cm6 .HyperMD-list-line-3 .list-bullet:after {
  height: 7px;
  width: 7px;
  border-radius: 0%;
  background-color: rgb(89, 89, 89);
  margin-right: 1em;
}

/* LEVEL 4 - Triangle*/
.markdown-reading-view ul > li > ul > li > ul > li > ul > li >.list-bullet:after,
.markdown-source-view.mod-cm6 .HyperMD-list-line-4 .list-bullet:after {
  height: 0;
  width: 0;
  background-color: transparent;
  border-radius: 0%;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid;
  border-right: 0px solid;
} .markdown-source-view.mod-cm6 .HyperMD-list-line-4 .list-bullet:after {
  margin-right: 1em;
}

/* HIGHLIGHT & MARK */

.markdown-rendered mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.search-result-file-matched-text,
mark {
  --text-highlight-bg: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
  border: none;
  color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 1);
  padding: 0 0.15em;
  border-radius: 0.05em;
  outline: 2px solid hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.5);
}

/* GENERAL CALLOUT STYLING 
All done by me.
Outlined Style inspired by Minimal Theme by @kepano
GitHub: https://github.com/kepano/obsidian-minimal
Link: https://twitter.com/kepano
------------------------------*/

div.callout {
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  --callout-title-color: oklch(var(--callout-color) / var(--callout-opacity)); /*WIP: Figure out why you can not define it in body.*/
  overflow: visible;
  background-color: oklch(var(--callout-color) / var(--transparent));
  border-color: oklch(var(--callout-color) / var(--callout-border-opacity));
  margin-top: 1.7em;
  padding-left: 1.4rem;
  margin-bottom: 1.5em;
}

div.callout>.callout-title {
  z-index: 200;
  width: fit-content;
  font-variant-caps: normal;
  font-size: var(--callout-title-size);
  letter-spacing: 0.07em;
  color: var(--callout-title-color);
  background-color: var(--background-primary); /*WIP*/
  margin-top: -1.5em;
  margin-left: -0.75em;
  padding: 0 0.7em;
  border-radius: 0.5em;
}

div.callout>.callout-title>.callout-icon {
  margin-right: 0.4em;
  margin-top: -0.05em;
}

div.callout>.callout-title>.callout-icon .svg-icon { color: var(--callout-title-color); --icon-stroke: 3px; }

.cm-embed-block.cm-callout { padding-top: 1em; }


/* GENERAL INNER CALLOUT ELEMENT STYLING */

div.callout .markdown-source-view :is(.cm-em .cm-strong), div.callout .markdown-rendered :is(em, strong)
{ color: oklch(var(--callout-lightness) var(--callout-chroma) var(--callout-hue) / var(--callout-opacity)); }

div.callout a.footnote-link { color: oklch(var(--callout-color) / var(--strongest)); }

div.callout > .callout-title > .callout-title-inner :is(
  ol, ul, .markdown-rendered ol, .markdown-rendered ul.has-list-bullet) {  margin: 0em; }

div.callout > .callout-title > .callout-title-inner :is(
  ol, ul, .markdown-rendered ol, .markdown-rendered ul.has-list-bullet) > li {
  margin-left: 1.5em;
  margin-top: -0.1em;
}



/* SPECIAL CALLOUTS */

/* Primary Accent 
This one needs to utilize HSL as that is how the primary color is usually set in Obsidian. 
Thus I redid every aspects regarding color for these ones. */
div.callout[data-callout*="primary-accent"], div.callout[data-callout*="note"], div.callout[data-callout*="callout"] { 
  --callout-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), var(--callout-opacity)); 
  --callout-title-color: var(--callout-color); 
  border-color: var(--callout-color); 
}

div.callout:is([data-callout*="primary-accent"], [data-callout*="note"]) :is(.markdown-source-view .cm-em, 
.markdown-rendered em, .markdown-source-view .cm-strong, .markdown-rendered strong) 
{ color: var(--callout-color); }

div.callout:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
a.footnote-link { color: var(--callout-color); }

div.callout:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) :is(.markdown-source-view .cm-em, .markdown-rendered em,
.markdown-source-view .cm-strong, .markdown-rendered strong, a.internal-link) 
{ color: var(--callout-color); }

/* As it utilizes HSL I needed to redo this: */
div.callout[data-callout^="+l"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--light); } 
div.callout[data-callout^="+ll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--lighter); } 
div.callout[data-callout^="+lll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--super-light); }
div.callout[data-callout^="+llll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--lightest); }
div.callout[data-callout^="+lllll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--white); }

div.callout[data-callout^="l"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--base); } 

div.callout[data-callout^="-l"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--dark); }
div.callout[data-callout^="-ll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--darker); } 
div.callout[data-callout^="-lll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--super-dark); }
div.callout[data-callout^="-llll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--darkest); }
div.callout[data-callout^="-lllll"]:is([data-callout*="primary-accent"], [data-callout*="note"], [data-callout*="callout"]) 
{ --accent-l: var(--black); }


/* Secondary Accent */
div.callout[data-callout*="secondary-accent"] {
  --callout-lightness: var(--secondary-accent-lightness);
  --callout-chroma: var(--secondary-accent-chroma);
  --callout-hue: var(--secondary-accent-hue);
}


/* Quote & Cite */
.cm-embed-block.cm-callout div.callout:is([data-callout*="quote"],[data-callout*="cite"]) {
  margin-top: 0em;
  margin-bottom: 0.8em;
}

div.callout:is([data-callout*="quote"], [data-callout*="cite"]) {
  --callout-lightness: var(--callout-quote-lightness);
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 1.5em;
  border-image: linear-gradient(to right, oklch(var(--callout-color) / 0.5), oklch(var(--callout-color) / 0.4), oklch(var(--callout-color) / 0.2)) 1;
  padding-top: 0.5em;
  --callout-chroma: 0;
  --callout-hue: 0;
  --callout-icon: quote-glyph;
  margin-bottom: 2.5em;
}

div.callout:is([data-callout*="quote"], [data-callout*="cite"])>.callout-title {
  margin-bottom: -2.3em;
  margin-top: 0em;
}

div.callout[data-callout*="cite"] {
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-image: linear-gradient(to right, oklch(var(--callout-color) / 0), oklch(var(--callout-color) / 0.4), oklch(var(--callout-color) / 0.5), oklch(var(--callout-color) / 0.4), oklch(var(--callout-color) / 0)) 1;
}

div.callout:is([data-callout*="quote"], [data-callout*="cite"])>.callout-title>.callout-icon {
  transform: scale(-1, 1);
}

div.callout[data-callout*="cite"]>.callout-title>.callout-icon {
  --icon-color: oklch(var(--callout-color));
}

/* Warning, Attention, Caution */ 
/* WIP: Make it unique & make the different input data different. Perhaps increase icon size. */
div.callout:is([data-callout*="warning"], [data-callout*="attention"], [data-callout*="caution"]) {
  --callout-lightness: var(--lighter);
  --callout-chroma: 0.25;
  --callout-hue: 70;
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  color: oklch(var(--callout-color) / var(--callout-opacity));
}

/* Bug */ 
/* WIP: Make it unique. Somehow. */
div.callout[data-callout*="bug"] {
  --callout-lightness: var(--light);
  --callout-chroma: 0.25;
  --callout-hue: 50;
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  color: oklch(var(--callout-color) / var(--callout-opacity));
}

/* Important, Tip, Hint - Summary, tldr, abstract */ 
/* WIP: Make it unique & make the different input data different. Perhaps increase icon size. */
div.callout:is([data-callout*="important"], [data-callout*="tip"], [data-callout*="hint"], [data-callout*="summary"], [data-callout*="tldr"], [data-callout*="abstract"]) {
  --callout-lightness: var(--lightest);
  --callout-chroma: 0.13;
  --callout-hue: 185;
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  color: oklch(var(--callout-color) / var(--callout-opacity));
}

/* Error, Danger */ 
/* WIP: Make it unique & make the different input data different. Perhaps increase icon size. */
div.callout:is([data-callout*="error"], [data-callout*="danger"]) {
  --callout-lightness: var(--light);
  --callout-chroma: 0.25;
  --callout-hue: 30;
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  color: oklch(var(--callout-color) / var(--callout-opacity));
}

/* Fail/Failure & Missing */ 
/* WIP: Make it unique & make the different input data different. Perhaps increase icon size. */
div.callout:is([data-callout*="fail"], [data-callout*="failure"], [data-callout*="missing"]) {
  --callout-lightness: var(--base);
  --callout-chroma: 0.25;
  --callout-hue: 30;
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  color: oklch(var(--callout-color) / var(--callout-opacity));
}

/* Todo, Info */ 
/* WIP: Make it unique & make the different input data different. Perhaps increase icon size. */
div.callout:is([data-callout*="todo"], [data-callout*="info"]) {
  --callout-lightness: var(--light);
  --callout-chroma: 0.3;
  --callout-hue: 270;
  --callout-color: var(--callout-lightness) var(--callout-chroma) var(--callout-hue);
  color: oklch(var(--callout-color) / var(--callout-opacity));
}

/* Timeline Callout
Made by harr (insider), forum.obsidian.md
link: https://forum.obsidian.md/t/css-snippet-timeline-as-callout/93652
*/

.callout[data-callout*="timeline"] {
  --callout-icon: clock;
  --callout-lightness: var(--white);
  overflow: visible;

  /* links */
  & a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none; 
    font-style: inherit;   
    background: none;
    padding-inline: 0;

    /* hashtags */
    &[href^="#"]{
      text-decoration: none;
      padding-inline: .4rem;
    }

    /* show links on hover */
    &:hover {
      text-decoration: underline solid;
      color: inherit;
    }
  } 
  
  /* content */ 
  & .callout-content {
    background-color: none;
    padding: 2rem 0;

    /* H1 as horizontal line */
    & h1 {
      font-weight: var(--font-normal);
      font-size: var(--font-text-size);
      color: oklch(var(--callout-color)) !important;
      padding: 0 !important;
      margin-right: 1rem !important;
      text-align: right;
      border-top: dotted .1rem;
      padding-top: 0.3em !important;
    }

    /* H2 as box */ 
    & h2 {
      font-weight: var(--font-normal) !important;
      font-size: var(--font-text-size);
      color: oklch(var(--callout-color));
      text-align: left !important;
      margin: 0 1rem;
      padding: .2rem 1rem .2rem 1rem;
      border: solid .1rem;
      border-radius: .4rem;
      display: inline-block;
    }  

   /* vertical line */
    & :is(h1, h3, p, ul, ol) {
      margin: 0 0 0 3.2rem;
      border-left: solid .1rem;
      padding: 0 1rem;
      border-color: oklch(var(--callout-color));
      font-weight: var(--font-normal);
      font-size: var(--font-text-size);

      /* space before H1 */      
      &:has(+ h1) {
        padding-bottom: 1rem;
      }        

      /* space before H2 */
      &:has(+ h2) {
        padding-bottom: 1.5rem;
      } 
    }

    /* H3 as bullet */
    & h3::before {
        border: .4rem solid;
        border-radius: .4rem;
        border-color: oklch(var(--callout-color));
        content: "";
        display: block;
        height: 0;
        left: -1.45rem;
        position: relative;
        top: 1rem;
        width: 0;
        z-index: 1;
    }    

    & h3 {

      color: oklch(var(--text-normal-lightness) var(--text-normal-chroma) var(--text-normal-hue) / var(--stronger));
    }

    & :is(p, ol, ul, li) {
      color: oklch(var(--text-normal-lightness) var(--text-normal-chroma) var(--text-normal-hue) / var(--fainter));
    }

    & img {
      padding: 1rem;
    }
  }
}

@media print { /* fix it in a better way!!! */
  div.callout[data-callout*="timeline"] {
    padding-top: 2em;
  }
}

/* MODULAR CALLOUT ICONS */

div[data-callout$="none"].callout > .callout-title .callout-icon { display: none; }

.callout[data-callout$="book"] {
    --callout-icon: lucide-book;
}

.callout[data-callout$="bug"] {
  --callout-icon: lucide-bug;
}

.callout[data-callout$="check"] {
  --callout-icon: lucide-check-circle-2;
}

.callout[data-callout$="clipboard"] {
  --callout-icon: lucide-clipboard-list;
}

.callout[data-callout$="clock"] {
  --callout-icon: clock;
}

.callout[data-callout$="flame"] {
  --callout-icon: lucide-flame;
}

.callout[data-callout$="info"] {
  --callout-icon: lucide-info;
}

.callout[data-callout$="x"] {
  --callout-icon: lucide-x;
}

.callout[data-callout$="zap"] {
  --callout-icon: lucide-zap;
}

.callout[data-callout$="quotation"] { /*name had to be this to avoid conflict with the quote callout */
    --callout-icon: quote-glyph;
}

/* MODULAR CALLOUT COLORING */

/* Lightness/Darkness (l) */
div.callout[data-callout^="+l"] { --callout-lightness: var(--light); }
div.callout[data-callout^="+ll"] { --callout-lightness: var(--lighter); }
div.callout[data-callout^="+lll"] { --callout-lightness: var(--super-light); }
div.callout[data-callout^="+llll"] { --callout-lightness: var(--lightest); }
div.callout[data-callout^="+lllll"] { --callout-lightness: var(--white); }

div.callout[data-callout^="l"] { --callout-lightness: var(--base); }

div.callout[data-callout^="-l"] { --callout-lightness: var(--dark); }
div.callout[data-callout^="-ll"] { --callout-lightness: var(--darker); }
div.callout[data-callout^="-lll"] { --callout-lightness: var(--super-dark); }
div.callout[data-callout^="-llll"] { --callout-lightness: var(--darkest); }
div.callout[data-callout^="-lllll"] { --callout-lightness: var(--black); }

/* Alpha (a) */
div.callout[data-callout-metadata^="a"] { --callout-opacity: var(--opaque); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-a"] { --callout-opacity: var(--strongest); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aa"] { --callout-opacity: var(--stronger); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aaa"] { --callout-opacity: var(--strong); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aaaa"] { --callout-opacity: var(--faint); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aaaaa"] { --callout-opacity: var(--fainter); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aaaaaa"] { --callout-opacity: var(--faintest); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aaaaaaa"] { --callout-opacity: var(--translucent); --callout-border-opacity: var(--callout-opacity)}
div.callout[data-callout-metadata^="-aaaaaaaa"] { --callout-opacity: var(--transparent); --callout-border-opacity: var(--callout-opacity)}

/* Modular Colors */

div.callout:is([data-callout*="grey"], [data-callout*="gray"]) {
  --callout-chroma: 0;
  --callout-hue: 0;
}

div.callout[data-callout*="rhodamine"] {
  --callout-chroma: 0.35;
  --callout-hue: 0;
}

div.callout[data-callout*="rose-red"] {
  --callout-chroma: 0.25;
  --callout-hue: 7;
}

div.callout[data-callout*="crimson"] {
  --callout-chroma: 0.25;
  --callout-hue: 12;
}

div.callout[data-callout*="scarlet"] {
  --callout-chroma: 0.28;
  --callout-hue: 25;
}

div.callout[data-callout*="red"] {
  --callout-chroma: 0.25;
  --callout-hue: 30;
}

div.callout[data-callout*="brown"] {
  --callout-chroma: 0.1;
  --callout-hue: 40;
}

div.callout[data-callout*="gold"] {
  --callout-chroma: 0.15;
  --callout-hue: 80;
}

div.callout[data-callout*="amber"] {
  --callout-chroma: 0.5;
  --callout-hue: 100;
}

div.callout[data-callout*="chartreuse"] {
  --callout-chroma: 0.5;
  --callout-hue: 115;
}

div.callout[data-callout*="olive"] {
  --callout-chroma: 0.13;
  --callout-hue: 120;
}

div.callout[data-callout*="green"] {
  --callout-chroma: 0.3;
  --callout-hue: 140;
}

div.callout[data-callout*="teal"] {
  --callout-chroma: 0.15;
  --callout-hue: 175;
}

div.callout[data-callout*="turquoise"] {
  --callout-chroma: 0.12;
  --callout-hue: 195;
}

div.callout[data-callout*="cerulean"] {
  --callout-chroma: 0.1;
  --callout-hue: 230;
}

div.callout[data-callout*="blue"] {
  --callout-chroma: 0.25;
  --callout-hue: 270;
}

div.callout[data-callout*="indigo"] {
  --callout-chroma: 0.2;
  --callout-hue: 280;
}

div.callout[data-callout*="lapis"] { /*Also known as Ultramarine-Violet*/
  --callout-chroma: 0.3;
  --callout-hue: 280;
}

div.callout[data-callout*="violet"] {
  --callout-chroma: 0.3;
  --callout-hue: 290;
}

div.callout[data-callout*="purple"] {
  --callout-chroma: 0.3;
  --callout-hue: 300;
}

div.callout[data-callout*="fuchsia"] {
  --callout-chroma: 0.3;
  --callout-hue: 330;
}

div.callout[data-callout*="magenta"] {
  --callout-chroma: 0.3;
  --callout-hue: 340;
}

/* Fixed Colors
These colors are basically shortcuts to specific colors 
which you'd usually only achieve by taking one of the modular colors and making it lighter or darker.
*/

div.callout[data-callout*="yellow"] {
  --callout-lightness: var(--white);
  --callout-chroma: 0.25;
  --callout-hue: 100;
}

div.callout[data-callout*="tangerine"] {
  --callout-lightness: var(--super-light);
  --callout-chroma: 0.2;
  --callout-hue: 53;
}

div.callout[data-callout*="orange"] {
  --callout-lightness: var(--light);
  --callout-chroma: 0.5;
  --callout-hue: 100;
}

div.callout[data-callout*="vermillion"] {
  --callout-lightness: var(--light);
  --callout-chroma: 0.25;
  --callout-hue: 30;
}

div.callout:is([data-callout*="sanguine"],[data-callout*="blood"]) {
  --callout-lightness: 37.5%;
  --callout-chroma: 0.5;
  --callout-hue: 100;
}

div.callout[data-callout*="coral"] {
  --callout-lightness: var(--lighter);
  --callout-chroma: 0.15;
  --callout-hue: 10;
}

div.callout[data-callout*="lavender"] {
  --callout-lightness: var(--lightest);
  --callout-chroma: 0.3;
  --callout-hue: 285;
}

div.callout[data-callout*="pink"] {
  --callout-lightness: var(--lightest);
  --callout-chroma: 0.25;
  --callout-hue: 300;
}

div.callout[data-callout*="cyan"] {
  --callout-lightness: var(--lightest);
  --callout-chroma: 0.13;
  --callout-hue: 185;
}

div.callout[data-callout*="white"] {
  --callout-lightness: var(--white);
  --callout-chroma: 0;
  --callout-hue: 0;
}

div.callout[data-callout*="black"] {
  --callout-lightness: var(--black);
  --callout-chroma: 0;
  --callout-hue: 0;
}

@media print { /*WIP: Should only apply for darkmode users!*/
  div.callout[data-callout*="black"] {
    --callout-lightness: var(--white);
  }
  div.callout[data-callout*="white"] {
    --callout-lightness: var(--black);
  }
}

/* Chroma (c) */
div.callout[data-callout-metadata$="c"] { --callout-chroma: 0; }
div.callout[data-callout-metadata$="+c"] { --callout-chroma: 0.1; }
div.callout[data-callout-metadata$="+cc"] { --callout-chroma: 0.2; }
div.callout[data-callout-metadata$="+ccc"] { --callout-chroma: 0.3; }
div.callout[data-callout-metadata$="+cccc"] { --callout-chroma: 0.4; }
div.callout[data-callout-metadata$="+ccccc"] { --callout-chroma: 0.5; }

/* NEW CHECKLIST STYLES 
Based on Minimal Theme by @kepano
GitHub: https://github.com/kepano/obsidian-minimal
Link: https://twitter.com/kepano
------------------------------*/

/* Total */
input[data-task="€"]:checked.task-list-item-checkbox,
li[data-task="€"]>input:checked, li[data-task="€"]>p>input:checked{
  display: none;
}
li[data-task="€"].task-list-item.is-checked {
  font-weight: 900;
  margin-left: 0em;
  text-decoration: underline;
  margin-top: 1em;
}
.markdown-source-view.mod-cm6 
.task-list-label input[data-task="€"].task-list-item-checkbox 
{
  display: none;
  padding: 1em;
  content: "€" !important;
  top: 0em;
  vertical-align: middle;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  width: fit-content;
  height: fit-content;
}

.markdown-source-view.mod-cm6 
.task-list-label:has(.task-list-item-checkbox[data-task="€"])::after {
  content: "€";
  font-size: 16px;
  font-weight: bold;
  color: rgb(232, 230, 227);
  margin-left: 5px;
}

/* MAKE UI BACKGROUND TRANSPARENT
Based on Obsidian Encore Theme by Carbonateb
GitHub: https://github.com/carbonateb/obsidian-encore-theme
Link: https://lucaschampagne.dev/
------------------------------*/

.view-content,
.view-header,
.workspace,
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed, 
.workspace-split.mod-root,
.workspace-tabs,
.workspace-tab-header.is-active,
.workspace-tab-header-container,
.workspace-tabs .workspace-leaf,
.mod-root .workspace-tabs:not(.mod-top) .workspace-tab-header-container,
.mod-root .workspace-tabs .workspace-leaf,
.mod-right-split,
.mod-left-split,
.workspace-split.mod-root .view-content,
.mod-root .workspace-split.mod-horizontal>div:not(:first-of-type),
.is-focused .workspace-leaf.mod-active .view-header,
.sidebar-toggle-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}


.titlebar {
  background-color: transparent;
}

.workspace-ribbon.mod-left:before {
  content: none;
}

.workspace-tab-header-container {
  border: none;
}

.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
  background-color: transparent;
}

.workspace-tab-header::before,
.workspace-tab-header::after {
  display: none;
}

.mod-root .workspace-tab-header-container-inner {
  padding: 0;
  margin: 0;
}

.workspace .mod-root .workspace-tab-header {
  padding: 0;
}

.view-header-title-container:not(.mod-at-end):after {
  display: none;
}

.workspace-split:not(.mod-root) .graph-controls.is-close {
  background-color: var(--background-modifier-hover);
}

body {
  --tab-container-background: transparent;
}